{{define "summary.txt.tmpl"}}## Schedule Summary
- Overall satisfaction points: {{.Summary.OverallSatisfactionPoints}}
- Average satisfaction: {{.Summary.AverageSatisfactionPercent}}%
- Groups with at least 1 preferred art workshop: {{.Summary.GroupsWithPreferredArt}} / {{.Summary.TotalGroups}}
- Groups with at least 1 preferred science workshop: {{.Summary.GroupsWithPreferredScience}} / {{.Summary.TotalGroups}}

{{end}}
